      <%= render 'layouts/user',user: @user %>
     <%= render 'layouts/book',book: @book %>


<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>

<h2>Books</h2>
  <% @books.each do |user| %>
    <th><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: "jpeg", fallback: "no_image.jpg", size: "60x60" %></th>
     <th><%= user.title %></th>
     <th><%= user.body %></th>
<% end %>

 </tr>
  </thead>
  <tbody>
  </tbody>
</table>



