    <div class="container">
    <div class="row">
    <div class="col-md-4">
      <%= render 'books/aaa', book:@book_new, user:@book.user %>
    </div>
  <div class="col-md-8 offset-md-1">
  	<h2>Book detail</h2>
  <div>

  	<table class="table">
  <% @books.each do |book| %>
    <%= book.title %>
     <%= book.body %>
     <% if @user.id == current_user.id %>
     <%= link_to "edit", edit_book_path %>
     <%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "Are you sure?" %>
   </table>




<% end %>
<% end %>










